ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: mistyrose;
  border: 2px solid black;
}

li {
  float: left;
  border-left: 1px solid black;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li:last-child {
  border-right: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: palevioletred;
  color: #333;
}

.navbar-brand {
  background-color: palevioletred;
}


h1 {
  text-align: center;
}

.h1 {

  background-color: palevioletred;
  text-align: end;
}


.card2 {
  margin: auto;
  margin-top: 40px;

}

.card3 {
  margin: auto;
  margin-top: 25px;


}

.cards {
  text-align: end;
  display: flex;
}

.titulo {
  background-color: mistyrose;
  margin-left: 50px;
  height: 1px;
}

.texto {
  background-color: mistyrose;
  margin-top: 50px;
  height: 4cm;
  text-align: center;



}


.container {
  display: flex;
  padding: 2px 16px;
  background-color: mistyrose;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15cm;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

img {
  width: 100%;

}

.columnas {
  display: flex;
}


.banner {
  margin-top: 10px;
}


.imagen {
  width: 6cm;

}

.dato2 {
  width: 2cm;
  margin-left: 10px;


}

.datos {
  width: 5cm;



}